.posts {
  margin: 38px auto 0;
  max-width: $display-width-1200;
  padding: 0 15px;

  &__item_hide {
    display: none;
  }

  &__title {
    @include title-style-320;
  }

  &__items {
    width: 100%;
    @include flex-content;
    flex-wrap: wrap;
    margin: 0 -5px;
  }

  &-item {
    margin-top: 28px;
    padding: 0 5px;

    &__picture {
      max-width: 150px;
    }

    &__title {
      font-weight: bold;
      font-size: $title-font-size;
      margin: 0;
      padding: 8px 0;
      color: $title-color;
    }

    &__text-content {
      padding: 4px 0;
    }

    &__info {
      font-size: 11px;
      margin: 0;
      color: $text-color;
    }

    &__text {
      display: none;
      padding: 12px 0;
      font-size: 14px;
      line-height: 26px;
      color: #5c5c5c;

      &_sep-line {
        padding: 0 8px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .posts {
    margin-top: 56px;

    &-item {
      display: flex;

      &__title {
        padding: 4px 0 8px;
        font-size: $title-font-size-big;
      }

      &__info {
        font-size: $text-font-size;
      }

      &__text-content {
        padding-left: 20px;
        max-width: 400px;
      }

      &__text {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .posts {
    margin-top: 66px;
  }
}

@media screen and (max-width: 531px){
  .posts__item:last-child{
    display: none;
  }
}