.page-body {
    width: 100%;
    height: 100%; 
    background: #000;
    overflow: hidden;
  }
  
   
  
  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    
    height: 800px;
    color: #ffbe00;
    font-size: 500%;
    font-weight: 600;
    perspective: 300px;
    text-align: left;
  }

  
  .crawl {
    position: relative;
    
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 30s linear infinite;
  }
  
 
  
  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
      0% {
      top: -100px;
      transform: rotateX(20deg)  translateZ(0);
    }
      100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }