*,
*::after,
*::before {
    box-sizing: border-box;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.header {
    margin-top: 61px;
  }
  
  .logo {
    font-size: 80px;
    color: rgba(0, 0, 0, 255);
    text-decoration: none;
  }
  .blue {
    color: #4bcafa;
  }
  .nav-top {
    width: 100%;
    margin-top: 45px;
    text-align: center;
    background-color: #35444f;
  }
  
  .nav-top-link {
    color: white;
    display: inline-block;
    border-left: 1px solid #818181;
    padding: 22px 41px;
    font-size: 24px;
    text-decoration: none;
  }
  
  .nav-top-link:hover {
 
    background-color: #222f3a;
  }
  
  .nav-left {
    width: 334px;
    border: 1px solid #35444f;
    display: inline-block;
    padding: 0;
    margin-top: 51px;
    list-style-type: none;
    vertical-align: top;
  }
  
  .nav-left-link {
    color: rgba(72, 88, 99, 255);
    width: 100%;
    display: block;
    padding: 28px 0 28px 42px;
    font-size: 29px;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  .nav-left-link:hover {
    color: #35444f;
    padding-left: 69px;
    background-color: #dbdbdb;
  }
  
  .main {
    display: inline-block;
    margin: 51px 0 0 52px;
    width: 885px;
  }
  .aside {
    display: inline-block;
    vertical-align: top;
  }
  
  .main-img-block {
    height: 529px;
    
    border: 1px solid #35444f;
    text-align: center;
    line-height: 529px;
    overflow: hidden;
  }
  
  .main-img {
    vertical-align: middle;
    transition: all 2s ease;
  }
  
  .main-img:hover {
    transform: scale(1.2);
  }
  
  .main-text {
    
    color: rgba(44, 44, 44, 255);
    margin: 50px auto;
    margin: 30px 0;
    font-size: 18px;
    line-height: 24px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 54px;
    background-color: #b4b7ba;
  }
  
  .nav-footer {
    
    
    list-style-type: none;
    margin: 0px 312px 40px;
    margin-left: 44px;
    line-height: 69px;
  }
  
  .nav-footer-link {
    color: #0c1927;
    font-size: 28px;
    list-style-type: none;
    text-decoration: none;
  }
  
  .nav-footer-link:hover {
    color: #4288a9;
    border-bottom: 1px solid #4288a9;
  }
  
  .copyright {
    float: right;
   text-align: right;
   line-height: 69px;
   margin-right: 34px;
  }
  
  .copyright-text {
    color: #0c1927;
    font-size: 24px;
  }