.shots {
  padding: 47px 15px 40px;
  margin-top: 40px;

  &__wrapper {
    margin: 0 auto;
    max-width: $display-width-1200;
  }

  &__title {
    @include title-style-320;
    @include flex-content;
  }

  &__insta {
    font-size: 13px;
    display: none;
  }

  &-images {
    margin-top: 13px;
    margin-left: -5px;
    margin-right: -5px;
    @include flex-content;
    justify-content: flex-start;
  }

  &-images__item {
    margin: 0 5px;
    transition: 0.2s;
    flex-basis: 285px;
  }

  &-images__img {
    width: 100%;
  }

  &__images_hide {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .shots {
    margin-top: 60px;
    //background-color: rgba(0, 0, 0, 0.03);
  }
}

@media screen and (min-width: 1200px) {
  .shots {
    margin-top: 69px;
  }
}