.container {
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
}
.main-nav {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 300px;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;    

}
.menu-element {
    display: inline-block;
    vertical-align: middle;
    margin-right: 70px;
    margin-left: 0px;
   
    text-transform: uppercase;
}.menu-element3  {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 52px;
    
}
.header-image {
    width: 100%; 
}
.body-header {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin: 48px 259px 38px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}


.lorem-content {
    
    margin-bottom: 28px;
    /* margin-top: 0px; */
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.bottom-link {
    text-align: center;
}
.button {
    
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    border-radius: 4px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: white;
    margin-top: 56px;
    padding:  18px 43.5px 17px 42.5px;
    background-color: #FF0000;
}
.footer {
    margin-top: 56px ;
    padding: 29px 0;
    text-align:  right;

}
.copyright {
    
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2.4px;
    margin-right: 105px;
    color: #373737;
}