.title {
  margin: 0 auto;
  max-width: $display-width-1200;
  padding: 0 15px;
  transition: 0.2s;

  &-menu {
    position: relative;
    padding: 23px 0;

    &-icon {
      margin: 0 0 0 auto;
      width: 44px;
      height: 37px;
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      color: white;
      font-size: 30px;
      text-align: center;
      line-height: 1;

      &__line {
        width: 17px;
        height: 2px;
        background-color: white;
        margin: 0 auto;

        &_middle-margin {
          margin-top: 2px;
          margin-bottom: 2px;
        }
      }
    }

    &-nav {
      position: absolute;
      right: 0;
      top: 62px;
      width: 180px;
      display: none;
      text-align: left;
      background-color: white;

      &_show {
        display: block;
      }

      &__items {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      &__item {
        padding: 8px 12px;
        display: block;
        text-transform: uppercase;
        font-size: 11px;
        text-decoration: none;
        color: $title-color;
        border-bottom: 2px solid $menu-color;
        transition: 0.2s;

        &:hover {
          color: #57A4A4;
          background-color: $menu-color;
          box-shadow: -1px -1px 0 1px $menu-color;
        }
      }
    }
  }

  &__img {
    width: 100%;
  }

}

@media screen and (min-width: 768px) {
  .title {

    &-menu {
      padding: 41px 0;
    }

    &-menu-icon {
      display: none;
    }

    &-menu-nav {
      margin: 0 auto;
      display: block;
      position: static;
      max-width: 620px;
      width: 100%;

      &__items {
        @include flex-content;
      }

      &__item {
        border: none;
        text-align: center;
      }

      &__item:hover {
        background-color: white;
        box-shadow: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .title {

    &-menu-nav {
      max-width: 700px;

      &__item {
        font-size: 14px;
      }
    }
  }
}