body {
    font-family: "Myriad Pro", Arial, sans-serif;
    background-color: #dcdfdf;
}

.container {
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 61px;
    padding-bottom: 51px;
}

/*Header*/
.main-heading {
    margin-bottom: 45px;
}

.logo {
    text-decoration: none;
    color: #9fc0c0;
    font-size: 80px;
}

.main-heading-black {
    color: rgba(0, 0, 0, 255);
}

.header-nav {
    background-color: #9fc0c0;
    color: rgba(255, 255, 255, 255);
    margin-bottom: 51px;
    text-align: center;
}

.header-nav li {
    display: inline-block;
    padding: 26px 41px;
    font-size: 24px;
}

.header-nav li:hover {
    background-color: #839e9e;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

/*Main block*/
.side-menu, .main-info {
    display: inline-block;
}

.side-menu {
    width: 344px;
    border: 1px solid #35444f;
    vertical-align: top;
    margin-right: 40px;
}
.side-menu li {
    padding: 28px 0 28px 44px;
    font-size: 30px;
    color: rgba(72, 88, 99, 255);
}

.side-menu ul ul li {
    padding-left: 56px;
}

.side-menu li:hover {
    background-color: #839e9e;
    padding-left: 70px;
    color: rgba(53, 68, 79, 255);;
}

.main-info {
    width: 884px;
}

.main-info-image {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 73px;
    margin-bottom: 50px;
    border: 1px solid #35444f;
}

.text-about p {
    padding-left: 30px;
    padding-right: 40px;
    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
}

.text-about > p {
    margin-bottom: 30px;
}

.main-image {
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}

.main-image:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*Footer*/
.footer {
    background-color: #b4b7ba;
}

.footer-nav, .copyright {
    display: inline-block;
}

.footer-nav {
    width: 809px;
    height: 26px;
    margin: 22px 218px 21px 44px;
}

.footer-nav li {
    display: inline-block;
    margin-right: 10px;
    font-size: 28px;

}
.footer-nav li:hover {
    color: #839e9e;
    text-decoration: underline;
}
