
/*Global*/


body {
	background: rgba(0, 0, 0, .65) url("../img/background.png");
	background-blend-mode: darken;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	
}
.container {
	width: 1060px;
	margin: 49px auto 20px;
}

/*Header*/
.header {
	height: 46px;
	margin-bottom: 45px;
}
.logo {
	float: left;
	width: 163px;
	text-decoration: none;
}
.contact {
	float: right;
	width: 243px;
}
.header:after {
	content: '';
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}
.logo-img {
	float: left;
	margin-right: 15px;
}
.img-logo-hover {
	display: none;
}
.logo:hover img:nth-of-type(1) {
	display: none;
}
.logo:hover img:nth-of-type(2) {
	display: block;
}
.logo:hover p {
	color: #f26522;
}
.conta
.logo:after {
	content: '';
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}
.heading {
	display: block;
	font-size: 27px;
	margin-bottom: 5px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
.subheading {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
.email{
	float: right;
	color: #fff;
	font-size: 16px;
	margin-bottom: 5px;
}
.tel-number {
	float: right;
	color: #fff;
	font-size: 16px;
}

/*Main Gallery*/
.main-gallery:after {
	content: '';
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}
.photo-block {
	position: relative;
	height: 240px;
	float: left;
	text-align: center;
	text-decoration: none;
	margin-bottom: 55px;
	color: #fff;
}
.price-block {
	position: absolute;
	display: none;
	top: 141px;
	width: 312px;
	height: 63px;
}
.photo-block:hover .price-block {
	display: block;
	animation: fade linear alternate 0.5s;
	background-color: #f26522;

}
.photo-block:hover .photo-block-description {
	color: #f26522;
}
.email:hover {
	color: #f26522;
}
.tel-number:hover {
color: #f26522;
}
.photo-block-img {
	margin-bottom: 22px;
	border: 2px solid transparent;
	border-image: linear-gradient(to bottom, #fff 0%, #000 100%);
	border-image-slice: 1;
}
.main-gallery a:nth-child(2),
.main-gallery a:nth-child(5) {
	margin-left: 62px;
	margin-right: 62px;
}
.photo-block-description  {
	font-size: 18px;
}
.price-block-cost {
	float: left;
	padding-top: 16px;
	padding-bottom: 17px;
	padding-left: 21px;
}
.details-block-cost {
	float: right;
	padding-top: 35px;
	padding-right: 40px;
	}
.details-text{
	position: relative;
}
.details-text::after {
	position: absolute;
	right: -29px;
	top: 5px;
	content: "";
	display: inline-block;
	/* By using an em scale, the arrows will size with the font */
	width: 0.4em;
	height: 0.4em;
	border-right: 0.1em solid white;
	border-top: 0.1em solid white;
	transform: rotate(45deg);
	margin-right: 0.5em;

}
.price-block {
	width: 311px;
	height: 63px;
}
.footer {
	text-align: center;
	color: #fff;
	font-size: 12px;
}