@mixin title-style-320{
  text-transform: uppercase;
  font-weight: bold;
  font-size: $title-font-size;
  color: $title-color;
  padding: 4px 0;
  margin: 0;
}

@mixin flex-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}