body {
    font-family: 'Montserrat', sans-serif;
}
/*-----------------------HEADER SECTION----------------------*/
.header-section {
    background: url(../images/sections_background/section-1\(header\).jpg) no-repeat fixed;
    height: 1012px;
}
.header-container {
width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	margin-bottom: 246px;
}
.header{
	width: 1160px;
	height: 120px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}
.main-nav {
    display: flex;
    width: 683px;
}
.main-menu-list{
	display: flex;
	justify-content: space-between;
}
.main-menu-list-item{
	margin-right: 20px;
}
.list-item-link{
	text-decoration: none;
	text-transform: uppercase;
	color: #b8b8b8;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 53px;
}
.list-item-link:hover{
	color: #18cfab;
	border-bottom: 2px solid #18cfab;
}
.intro{
	text-align: center;
}
.main-heading{
	font-size: 35px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 45px;
}
.color-text{
	color: #18cfab;
	text-transform: uppercase;
}
.intro-top-paragraph {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 70px;
	margin-bottom: 36px;
}
.intro-bottom-paragraph{
	color: #b8b8b8;
	font-size: 30px;
	margin-bottom: 142px;
}
.button {
	display: inline-block;
	width: 166px;
	height: 61px;
	box-sizing: border-box;
	color: #fff;
	text-transform: uppercase;
	font-size: 12.6px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
	border-top: 3px solid #fff;
	line-height: 55px;
	align-items: center;
	text-align: center;
}
.button-explore{
	background-color: #18cfab;
	margin-right: 28px;
}
.button-purchase{
	background-color: #00cbf6;
}
.button-text{
	vertical-align: center;
}
/*------------------------- ADVANTAGE SECTION --------------------------*/

.advantage-item{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	height: 374px;
}
.advantage-square {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 120px;
	justify-content: flex-end;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.advantage-square:nth-child(odd){
	background-color: #1c2a33;
	border-top: 7px solid #18cfab;
	color: #18cfab;
}
.advantage-square:nth-child(even){
	background-color: #18cfab;
	border-top: 7px solid #fff;
	color: #fff;
}
.advantage-icon:nth-child(odd){
	margin-bottom: 48px;
}
.advantage-icon:nth-child(even){
	margin-bottom: 59px;
}

/*---------------------------OUR SERVICES!----------------------------*/
.services-header {
	text-align: center;
	font-size: 36px;
	margin-top: 80px;	
}
.section__header-decor-line {
	width: 79px;
	border-width: 1px;
	color: #18cfab;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
}
.section__header-decor-line1 {
	width: 79px;
	border-width: 1px;
	color: #18cfab;
	border-style: solid;
	margin-left: 950px;
}
ul {
	list-style: none;
	padding-left: 0;
}

.centered-content {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.tabs {
	display: flex;
}

.tabs-title {
	position: relative;
	padding: 20px 15px;
	background-color: #F8FCFE;
	color: #717171;
	cursor: pointer;
	margin-bottom: 30px;
}

.tabs-title.active {
	background-color:#18CFAB ;
	color: #FFFFFF;
}
.active::after {
	content: '';
	position: absolute;
	top: 100%;
	margin: -1px;
	left: calc(50% - 10px);
	background: #18cfab;
	width: 27px;
	height: 15px;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
  }

.tabs-content {
	width: 1200px;
	font-weight: 300;
	font-size: 13.645px;
	line-height: 24px;
}
.tab-img{
	display: block;
	float: left;
	margin-right: 15px;
	height: 140px;
	width: 190px;
}
/* ---------------------BUY SECTION------------------------ */
.buy-section {
	height: 500px;
	background: url(../images/sections_background/Layer\ 21\ 1.png) center no-repeat;
}
.buy-header {
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	color: #18cfab;
	padding-top: 125px;
}
.buy-p {
	padding-top: 12px;
	color: #D8D8D8;
	font-size: 16px;
	line-height: 40px;
	text-align: center;	
}
 .button-new{
	width: 166px;
	height: 61px;
	background-color:#18CFAB ;
	align-items: center;
	color: white;
	text-transform: uppercase;
	font-size: 12.6px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
	border-top: 3px solid #fff;
	line-height: 55px;
	align-items: center;
	text-align: center;
}
/* ----------------------OUR AMAZING WORK--------------------------- */
.our-works-section {
	background-color: #E9EDEF;
	margin-top: -11px;
}
.our-works-container{
	width: 1140px;
	padding-top: 97px;
	padding-bottom: 100px;
	margin: 0 auto;
	text-align: center;
	
}
.heading-works-section{
	position: relative;
	font-size: 36px;
	color: rgba(78, 78, 78, 255);
	margin-bottom: 101px;
}
.heading-works-section::after{
	content: '';
	position: absolute;
	top: 73px;
	left: calc(50% - 75px/2);
	width: 75px;
	height: 3px;
	transform: skew(75deg);
	border-top: 1px solid #18cfab;
	border-bottom: 1px solid #18cfab;
}
.works-list{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-bottom: 71px;
}
.work-list-item{
	padding: 24px 29px;
	border: 1px solid #ebebeb;
}
.work-item{
	padding: 24px 29px;
	font-size: 14px;
	color: #717171;
	cursor: pointer;
}
.work-list-item:hover{
	color: #18cfab;
	border-top: 2px solid #18cfab;
	padding: 23px 29px;
}
.work-img-container{
	position: relative;
}
.plate{
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-top: 2px solid #18cfab;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hover-icons{
	display: flex;
	margin-top: 43px;
	margin-bottom: 34px;
}
.hover-link{
	position: relative;
	width: 40px;
	height: 40px;
	border: 1px solid #18cfab;
	border-radius: 50%;
	margin-right: 5px;
}
.hover-search{
	position: relative;
	width: 40px;
	height: 40px;
	border: 1px solid #18cfab;
	background-color: #18cfab;
	border-radius: 50%;
}
.fa-link{
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 8px);
	color: #18cfab;
}
.hover-search > .fa-search{
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 8px);
	color: #fff;
}
.hover-heading{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: #18cfab;
	margin-bottom: 14px;
}
.hover-category{
	font-size: 13px;
	font-weight: lighter;
	color: rgba(138, 138, 138, 255);
}
.work-img-container:hover .plate{
	top: 0;
	left: 0;
	visibility: visible;
	opacity: 1;
}
.img-work{
	width: 285px;
	height: 206px;
}
.example-work-container{
	display: grid;
	width: 100%;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(4, 4fr);
	margin-bottom: 71px;
}
.button-load-more {
	display: inline-block;
	width: 166px;
	height: 61px;
	box-sizing: border-box;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
	background-color: #18cfab;
	line-height: 61px;
}
.fa-plus{
	margin-right: 16px;
}

/* -------------------------BREAKING NEWS------------------------------- */
.breaking-news{
	border-top: 1px solid #e1e1e1;
}
.breaking-news-container{
	width: 1140px;
	margin: 0 auto;
	padding-top: 84px;
	padding-bottom: 132px;
	text-align: center;
}
.heading-breaking-news{
	position: relative;
	font-size: 36px;
	color: rgba(78, 78, 78, 255);
	margin-bottom: 101px;
}
.heading-breaking-news::after{
	content: '';
	position: absolute;
	top: 73px;
	left: calc(50% - 75px/2);
	width: 75px;
	height: 3px;
	transform: skew(75deg);
	border-top: 1px solid #18cfab;
	border-bottom: 1px solid #18cfab;
}
.container-blog-posts{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blog-item-post{
	text-decoration: none;
}
.blog-item-post:hover .calendar-block{
	background-color: #18cfab;
}
.blog-item-post:hover .post-title{
	color: #18cfab;
}
.image-block{
	margin-bottom: 45px;
	padding-bottom: 13px;
	position: relative;
}
.blog-item-about{
	position: relative;
	border: 1px solid #ebebec;
	padding-bottom: 12px;
}
.post-title{
	position: relative;
	padding: 15px;
	text-align: left;
	margin-bottom: 13px;
	font-size: 18.4px;
	font-weight: bold;
	color: rgba(113, 113, 113, 255);
}
.comment-text{
	width: 180px;
	position: absolute;
	top: 46px;
	left: 19px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: rgba(119, 119, 119, 255);;
	}
.divider{
	color: #777777;
}
.calendar-block{
	width: 66px;
	height: 68px;
	box-sizing: border-box;
	padding: 15px 20px;
	background-color: #203e38;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	color: #fff;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* ------------------------TESTIMONIALS------------------------ */
.testimonials{
	background: url("../images/sections_background/section-3.jpg") center no-repeat;
	background-size: cover;
}

.testimonials-container{
	width: 1160px;
	padding-top: 100px;
	margin: 0 auto;
	text-align: center;
}
.heading-testimonials{
	position: relative;
	font-size: 36px;
	color: rgba(255, 255, 255, 255);
	margin-bottom: 101px;
}
.heading-testimonials::after {
	content: '';
	position: absolute;
	top: 73px;
	left: calc(50% - 75px/2);
	width: 75px;
	height: 3px;
	transform: skew(75deg);
	border-top: 1px solid #18cfab;
	border-bottom: 1px solid #18cfab;
}
.quotes{
	margin-bottom: 44px;
}
.testimonial-text {
	display: none;
}
.testimonial-text.activity {
	display: block;
	color: rgba(187, 187, 187, 255);
	font-size: 16px;
	margin-bottom: 43px;
	line-height: 25px;
}
.testimonial-name-person{
	display: none;
}
.testimonial-name-person.activity {
	display: block;
	color: #18cfab;
	font-size: 16px;
	font-weight: 700;
}
.testimonial-person-profession {
	display: none;
}
.testimonial-person-profession.activity {
	display: block;
	color: rgba(187, 187, 187, 255);
	font-size: 13px;
	font-weight: 300;
	margin: 15px 0 38px;
}
.slider-for {
	width: 149px;
	margin: 0 auto;
	border: 10px solid #104b4b;
	border-radius: 50%;
	
}
.slider-nav {
	position: relative;
	width: 450px;
	margin: 69px auto 0;
	
}
.person-image-slider-nav {
	border: 4px solid #104b4b;
	border-radius: 50%;
	margin: 0 20px;
	outline: none;
	
}
.person-image {
	border: 3px solid #1fdab5;
	border-radius: 50%;
	outline: none;
}
.person-image-slider-nav {
	margin-top: 40px;
}
.slick-prev:before, .slick-next:before {
	border: 1px solid #fff;
	padding: 2px 9px 8px;
}
.person-image-slider-nav.slick-current {
	position: relative;
	bottom: 18px;
	border: 2px solid #1fdab5;
	box-shadow: 0 0 0 3px #104b4b;
}
.slick-list.draggable:nth-child(2) {
	height: 150px;
}
.slider {
	padding-bottom: 50px;
}
.slick-prev:hover:before, 
.slick-next:hover:before { 
background: #18CFAB;
}
.slick-prev {
	left: -60px;
}
.slick-next {
  right: -50px;
}



/*-------------------BEST IMAGES-------------------------------- */
.best-images-header{
	font-weight: normal;
	font-size: 36px;
	text-align: center;
	padding-top: 100px;
	
}







/* ----------------------FOOTER------------------------------ */
.footer{
	background-color: #22353f;
	padding: 47px 0;
}
.footer-copyright{
	font-size: 14px;
	color: rgba(174, 174, 174, 255);
	text-align: center;
}
.footer-spam-text{
	color: #18cfab;
}

