
.page-body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
}
a:link, a:visited {
	text-decoration: none;
	cursor: pointer;
	outline: none;
}
.header-container{
	width: 100%;
	height: 56px;
	background-color: rgba(0, 0, 0, 0.4);
}
.header {
	height: 100%;
	margin: 0 4%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-logo {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}
.header-logo:hover{
	color: #3cb878;
}
.user-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.icon {
	display: inline-block;
	background-image: url("../img/icon-sprite.png");
	margin-right: 26px;
 }
.icon-calendar {
	width: 19px;
	height: 19px;
	background-position: 0 0;
}
.icon-calendar:hover {
	background-position: 0 23px;
}
.icon-forum {
	width: 28px;
	height: 20px;
	background-position: -19px 0;
}
.icon-forum:hover {
	background-position: -19px 23px;
}
.icon-journey {
	width: 21px;
	height: 20px;
	background-position: -48px 0;
}
.icon-journey:hover{
	background-position: -48px 23px;
}

.login-section {
	color: #fff;
	font-size: 14px;
}
.log-in, .sign-up {
	color: #3cb878;
}
.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.form {
	position: relative;
	width: 444px;
	height: 584px;
	background-color: #fff;
	border-radius: 3%;
}
.greenSquare{
	position: absolute;
	top: 42px;
	left: 0;
	width: 18px;
	height: 18px;
	background-color: #3cb878;
}
.form-content-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 523px;
	width: 322px;
}
.form-heading {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.form-heading > :first-child {
	text-decoration: none;
	color: rgba(67, 67, 67, 255);
	font-size: 20px;
}
.form-heading > :last-child {
	text-decoration: none;
	color: rgba(60, 184, 120, 255);
	font-size: 14px;
}
.form-buttons{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.fb-button, .google-plus-btn {
	display: flex;
	width: 157px;
	line-height: 46px;
	font-size: 16px;
	border-radius: 4px;
	align-self: center;
	color: #fff;
}
.fb-button{
	background-color: #305db8;
}
.google-plus-btn{
	background-color: #df4a32;
}
.btn-part {
	display: flex;
}
.logo {
	display: flex;
	justify-content: center;
	font-size: 20px;
	width: 46px;
}
.logo-divider, .header-divider {
	height: 25px;
	content: ' ';
	border-right: 1px solid darkgray;
	margin-right: 18px;
	align-self: center;
}
.g-sign {
	text-transform: capitalize;
}
.plus-sign {
	font-size: 12px;
	line-height: 45px;
}

.divider{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: darkgray;
}
.divider-left, .divider-right {
	height: 1px;
	width: 100px;
	background-color: #bebebe;
}
.input-style{
	width: 100%;
	height: 46px;
	border-radius: 4px;
	border: 1px solid #bebebe;
	padding-left: 15px;
	box-sizing: border-box;
}
.input-style:focus {
	box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.check-box-label{
	width: 100%;
}

.conditions{
	color: #3cb878;
}

.create-acc-btn{
	width: 100%;
	height: 46px;
	background-color: #3cb878;
	color: white;
	font-size: 16px;
	border-radius: 4px;
}