@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


.body-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.content-container {
    width: 1900px;
}

.header-container {
    display: flex;
    width: 100%;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/header-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.header {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 33, 36);
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.header-logo {
    padding: 25px;
    background-color: rgb(26, 29, 32);
}

.search-link {
    text-decoration: none;
    color: white;
}

.header-heading {
    color: white;
    font-size: 22px;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
}

.header-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.search-icon {
    padding: 31px 30px 30px 30px;
    background-color: rgb(26, 29, 32);
}

.header-content {
    display: flex;
    height: 380px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1 {
    color: white;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    width: 170px;
    padding: 20px 0;
    border-radius: 5px;
    outline: none;
    margin-top: 45px;
}

.subscribe-btn {
    margin-right: 10px;
    background-color: rgb(137, 202, 98);
    border-color: transparent;
}

.subscribe-btn:hover {
    background-color: rgb(105, 160, 74);
    border-color: rgb(137, 202, 98);
}

.articles-btn {
    margin-left: 10px;
    background-color: rgb(20, 185, 213);
    border-color: transparent;
}

.articles-btn:hover {
    background-color: rgb(23, 159, 184);
    border-color: rgb(20, 185, 213);
}

/* --------------x--------------------------x------------- */

.post-h2 {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;

}

.popular-h2 {
    display: grid;
    grid-template-columns: 1170px;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.h2-style {
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: bold;
    padding: 54px 0;
    color: #18b4cf;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

/* -------------x---------------------------------x-------- */
.post-wrapper {
    width: 100%;
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
}

.posts {
    display: flex;
    width: 1170px;
    justify-content: flex-start;
    align-content: space-around;
    flex-flow: column wrap;
    height: 900px;
}

.post:nth-child(1),
.post:nth-child(3),
.post:nth-child(5) {
    margin-bottom: 20px;
}

.post-p {
    text-align: center;
    padding: 25px 0;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

/* --------------x------------------------x-------------- */
.brand {
    display: grid;
    grid-template-columns: 1170px;
    grid-template-rows: repeat(4, 146px);
    justify-content: center;
    height: 586px;
    width: 100%;
    background-image: url(../img/Shape\ 22.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

/* ------------x--------BRAND H3------------------x--------- */
.h3 {
    grid-row: 2;
    text-align: center;
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    padding: 55px 0;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.hr {
    width: 60px;
    height: 2px;
    color: rgb(22, 156, 180);
    background-color: rgb(22, 156, 180);
    border: none;
}

/* ---------------x-----------------------------x------------ */
.partners {
    display: flex;
    justify-content: space-around;
    padding: 55px 0;
    width: 1170px;
    margin: 0 auto;
}

/* -------------x----------------------------------x--------- */
.carousel {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 271px);
}

/* ---------------x-------------------------------x---------- */
.news {
    width: 1170px;
    display: grid;
    margin: 0 auto;
    grid-template-rows: 260px 440px 430px 330px;
    grid-template-columns: 412px 365px 320px;
    grid-gap: 30px;
}

.TopBtn {
    display: none;
    position: fixed;
    left: 200px;
    color: black;
    background-color: teal;
    bottom: 80px;
    width: 150px;
    height: 40px;
    padding: 5px;
    z-index: 1;
    background: teal;
    cursor: pointer;
    outline: none;
    border: transparent;
}

.rated:after {
    content: 'Hide/Show';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 120px;
    top: 70px;
    width: 150px;
    height: 40px;
    z-index: 1;
    background: #0e80b9;
    cursor: pointer;
    outline: none;
    padding: 5px;

}

.h2t {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    font-size: 32px;
    text-transform: uppercase;
    color: #18b4cf;
}

.h-top-rated:hover {
    color: #18b4cf;
}

/*-------------х--------  БЛОК С КАРТИНКОЙ---------------х------ */
.block {
    background-color: rgb(249, 247, 247);
}

.card {
    justify-self: flex-end;
}

.block2 {
    grid-row: 2;
    justify-self: flex-start;
}

.block3 {
    grid-row: 2;
    grid-column: 3;
    justify-self: flex-end;
}

.block4 {
    grid-row: 3;
    justify-self: flex-start;
}

.block5 {
    grid-row: 3;
    grid-column: 3;
    justify-self: flex-end;
}

.block6 {
    grid-row: 4;
    justify-self: flex-start;
    align-self: flex-start;
}

.block7 {
    justify-self: flex-end;
    grid-row: 4;
    grid-column: 2;
}


.description {
    background-color: rgb(249, 247, 247);
}

.p-news {
    background-color: rgb(249, 247, 247);
    padding: 5px 30px 25px 30px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
}


.text-p {
    padding: 15px 0;
    background-color: rgb(249, 247, 247);
    width: 277px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.text-p1 {
    width: 300px;
    font-family: 'Open Sans', sans-serif;
}

.h4-center-news {
    text-align: center;
    padding: 40px 25px 30px 25px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}


.h4-news {
    text-align: right;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.p-center-news {
    padding: 0 30px;
    font-family: 'Open Sans', sans-serif;
}

.description1 {
    width: 390px;
    height: 259px;
}

.description2 {
    width: 554px;
    grid-row: 3;
}

.description3 {
    width: 554px;
    justify-self: flex-end;
    grid-row: 3;
    grid-column: 3;
}

.description4 {
    width: 554px;
    grid-row: 5;
}

.description5 {
    width: 554px;
    grid-row: 5;
    grid-column: 3;
    justify-self: flex-end;
}

.description6 {
    width: 360px;
    grid-row: 4;
    grid-column: 3;
    height: 259px;
    justify-self: self-end;
}

.h2 {
    position: relative;
}

.footer {
    width: 100%;
    height: 75px;
    display: grid;
    justify-content: center;
    background-color: rgb(29, 33, 36);
}

.footer-container {
    width: 1170px;
    display: grid;
    grid-template-columns: 710px 385px 65px;
    align-items: center;
}


.footer-info {
    color: white;
    justify-self: flex-start;
    font-family: 'Open Sans', sans-serif;
}

.footer-logo {
    text-transform: uppercase;
    color: rgb(234, 234, 234);
    justify-self: self-end;
}


.h5 {
    text-transform: uppercase;
    color: rgb(234, 234, 234);
    font-size: 22px;
    font-weight: bold;
    line-height: 65px;
    align-self: flex-start;
    justify-self: self-end;
    color: rgb(249, 247, 247);
    font-family: 'Open Sans', sans-serif;
}

.scale:hover {
    transform: scale(1.02);
}

.Nav {
    display: flex;
    color: white;
}

.Nav {
    justify-content: center;
    height: 45px;
    align-items: center;
    background: transparent;
}

.Nav a {
    border: 3px solid teal;
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    color: inherit;
}

.Nav a:hover {
    color: #18b4cf;
}

.Nav a {
    margin-right: 85px;
}